@import '../../../../styles.scss';

.main_box {
    @include main_box_shadow;
}

.form-control{
    @include form_control_style;
}

label{
    @include label;
}

.btn{
    @include btn_style;
}

.signup_text{
    @include main_box_text_title;
}


@media only screen and (max-width: 425px) {
   .main_box{
    box-shadow: none; 
    padding: 0vh; 
    margin: 0vh;
   }
}