<!-- <div class="container-fluid back_yellow">
    <div class="row  row_align">
        <div class="col-sm-2 col-md-4 col-lg-4 text-center" >
            NEED HELP ?
            <br />
            <p>EMAIL US:</p>
            <br />
            <p>order@trunativ.co.in</p>
            <br />
            <p>CALL US:</p>
            <br />
            <p>91379 53160</p>
        </div>
        <div class="col-sm-2 col-md-4 col-lg-4 text-center">
            CUSTOMER CARE
            <br />
            <br />
            <p>PRIVACY POLICY</p>
            <br />
            <p>TERMS AND CONDITIONS*</p>
            <br />
            <p>RETURN POLICY</p>
        </div>
 
    </div>
</div> -->
    <!-- <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <h3 style="font-weight: bold;">FIND US ON:</h3>
            <br />
            <div class="row  text-center">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="../../../../assets/homepage/facebook.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="../../../../assets/homepage/instagram.png" class="img-fluid" alt="">
                </div>
            </div>
            <br />
            <p>SUBSCRIBE:</p>
        </div>
    </div>
</div> -->


<!-- <div class="container-fluid text-center"> 
    <div class="row">
        <div class="col-6 col-sm-6">
            NEED HELP ?
            <br />
            <p>EMAIL US:</p>
            <br />
            <p>order@trunativ.co.in</p>
            <br />
            <p>CALL US:</p>
            <br />
            <p>91379 53160</p>
        </div>
        <div class="col-6 col-sm-6">
            CUSTOMER CARE
            <br />
            <br />
            <p>PRIVACY POLICY</p>
            <br />
            <p>TERMS AND CONDITIONS*</p>
            <br />
            <p>RETURN POLICY</p>
        </div>
    </div>
</div> -->