@import '../../../../styles.scss';

.even{
    color:red
}

.form-control{
    @include form_control_style;
}

label{
    @include label;
}

.btn{
 @include btn_style;
}

.main_box{
 @include main_box_shadow;
}

.Login_text{
   @include main_box_text_title;
}


@media only screen and (max-width: 425px) {
    .main_box{
     box-shadow: none; 
     padding: 0vh; 
     margin: 0vh;
    }
 }